.tableHeader {
  padding-left: 30px;
  padding-bottom: 20px;
  font-weight: 600;
  display: flex;
}

.nameColumn {
  width: 520px;
}

.gameTypeColumn {
  width: 208px;
}

.gameStatusColumn {
  width: 229px;
}
